.Table
{
    display: table;
    margin: 0px auto;
    width: 100%;

}
.Title
{
    display: table-caption;
    text-align: center;
    font-weight: bold;
    font-size: larger;
}
.Heading
{   color:#D5DDE5;;
    background:#1b1e24;
    display: table-row;
    font-weight: bold;
    text-align: center;
}
.Row
{
    display: table-row;
}
.Cell
{
    display: table-cell;
    border: solid;
    border-width: thin;
    padding-left: 5px;
    padding-right: 5px;
}

#option{
    border-style: ridge;
    padding: 12px;
}
